/* ========== Fonts ==========*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Manrope&family=Poppins:wght@400;500;600;700&family=Yeseva+One&display=swap');

/* ========== Reset CSS ==========*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* ========== Common CSS ==========*/

section {
    padding: 25px 0;
}
.container {
    width: 80%;
    margin: auto;
}

.hilighted {
    color: #ffad5a;
}

.primary-btn {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    background: #ff5959;
    color: #fff;
    padding: 12px 38px;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    transition: all 0.2s ease;
}

.primary-btn:hover {
    background: #f52828;
}

.section-title {
    font-weight: 700;
    font-size: 48px;
    color: #13103a;
    text-align: center;
}

/* ========== Hero Section CSS ==========*/

.hero-area {
    display: flex;
    height: 580px;
    align-items: center;
}

.hero-text-area {
    width: 50%;
}

.hero-text-area .hero-title {
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
    font-weight: 400;
    line-height: 80px;
    color: #333;
    padding-left: 13px;
    position: relative;
    margin: 0;
}

.hero-title::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 80%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    background: #ff5959;
}

.hero-text-area .hero-text {
    margin-top: 15px;
    font-size: 18px;
    line-height: 28px;
    color: #3e3e3e;
}

.hero-text-area .hero-bottom-text {
    margin-top: 33px !important;
}

.hero-img-area {
    width: 50%;
    text-align: right;
}

.hero-img-area img {
    width: 80%;
}

/* ========== Mission Section CSS ==========*/

.missions-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.mission {
    width: 360px;
    height: 376px;
    border-radius: 26px;
    padding: 25px 32px;
    margin: 0 10px;
}

.mission img {
    width: 141px;
    height: 141px;
}

.mission-name {
    margin: 12px 0 16px;
    font-size: 24px;
    line-height: 36px;
}

.mission-text {
    font-size: 16px;
    line-height: 24px;
    color: #424242;
}

.green-bg {
    background: rgba(79, 157, 166, 0.1);
}

.pink-bg {
    background: rgba(255, 89, 89, 0.1);
}

.yellow-bg {
    background: rgba(255, 244, 214, 0.8);
}