/* ========== Fonts ==========*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Manrope&family=Poppins:wght@400;500;600;700&family=Yeseva+One&display=swap');

/* ========== Reset CSS ==========*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* ========== Common CSS ==========*/

section {
    padding: 40px 0;
}
.container {
    width: 80%;
    margin: auto;
}

.hilighted {
    color: #7746fd;
}

.primary-btn {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    background: #9068ff;
    color: #fff;
    padding: 12px 38px;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.primary-btn:hover {
    background: #7746fd;
}

.section-title {
    font-weight: 700;
    font-size: 48px;
    color: #13103a;
    text-align: center;
}

.width-35 {
    width: 35%;
}

.width-50 {
    width: 50%;
}

.width-65 {
    width: 65%;
}

.width-80 {
    width: 80%;
}

.width-100 {
    width: 100%;
}

/* ========== Hero Section CSS ==========*/

.hero-section {
    padding: 20px 0 !important;
}
.hero-area {
    display: flex;
    height: 580px;
    align-items: center;
}

.hero-text-area {
    width: 50%;
}

.hero-text-area .hero-title {
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
    font-weight: 400;
    line-height: 80px;
    color: #333;
    padding-left: 13px;
    position: relative;
    margin: 0;
}

.hero-title::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 80%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    background: #7746fd;
}

.hero-text-area .hero-text {
    margin-top: 15px;
    font-size: 18px;
    line-height: 28px;
    color: #3e3e3e;
}

.hero-text-area .hero-bottom-text {
    margin-top: 33px !important;
}

.hero-img-area {
    width: 50%;
    text-align: right;
}

.hero-img-area img {
    width: 80%;
}

/* ========== Mission Section CSS ==========*/

.missions-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.mission {
    width: 360px;
    height: 376px;
    border-radius: 26px;
    padding: 25px 32px;
    transition: all 0.3s ease-in-out;
}

.mission img {
    width: 141px;
    height: 141px;
}

.mission-name {
    margin: 12px 0 16px;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

.mission-text {
    font-size: 16px;
    line-height: 24px;
    color: #424242;
}

.green-bg {
    background: rgba(119, 70, 253, 0.1)
}
.green-bg:hover {
    background: rgba(119, 70, 253, 0.2)
}

.pink-bg {
    background: rgba(236, 65, 118, 0.1);
    margin: 0 20px;
}
.pink-bg:hover {
    background: rgba(236, 65, 118, 0.2);
}

.yellow-bg {
    background: rgba(255, 244, 214, 0.8);
}
.yellow-bg:hover {
    background: rgb(255, 237, 189);
}

/* ========== Develop Section CSS ==========*/

.develop-section {
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 50px center;
}

.develop-area {
    display: flex;
    align-items: center;
}

.develop-text-area {
    padding-left: 72px;
}

.sub-section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    color: #333;
    margin-bottom: 17px;
}

.sub-section-text {
    font-size: 18px;
    color: #3e3e3e;
    line-height: 30px;
}

/* ========== Community Section CSS ==========*/

.community-section {
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 95% 100%;
}

.community-area {
    display: flex;
    align-items: center;
}

.community-text-area {
    padding-right: 72px;
}

/* ========== Portfolio Section CSS ==========*/

.porfolio-area {
    padding: 85px 0;
    display: flex;
    align-items: center;
}

.portfolio-img-area {
    text-align: center;
    position: relative;
}

.first-shape {
    position: absolute;
    width: 147px;
    left: 0;
    top: -20%;
    z-index: -1;
}
.second-shape {
    position: absolute;
    width: 77px;
    left: 20px;
    bottom: -10%;
    z-index: -1;
}
.third-shape {
    position: absolute;
    width: 77px;
    right: 5%;
    top: 50%;
    z-index: -1;
}

.portfolio-img{
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.12);
}

.portfolio-text-area {
    margin-left: 20px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 48px;
    color: #13103a;
    line-height: 62px;
}

.portfolio-text {
    font-size: 18px;
    line-height: 30px;
    color: #3e3e3e;
    margin-top: 16px;
}

/* ========== Footer Section CSS ==========*/

footer {
    padding: 40px 0;
    background: #0b0d17;
}

.footer-title {
    font-family: 'Lobster', cursive;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: #fff;
    text-align: center;
}

.footer-hilighted {
    color: #ffad5a;
}

.copyright-text {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    margin-top: 24px;
}

.footer-link {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in-out;
    color: #ffad5a;
}